/* default style in style.css */
/*
     FILE ARCHIVED ON 03:57:51 Feb 05, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:16:05 Feb 18, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.01
  captures_list: 207.857
  exclusion.robots.policy: 0.244
  PetaboxLoader3.datanode: 257.814 (5)
  CDXLines.iter: 23.977 (3)
  load_resource: 1149.796 (2)
  RedisCDXSource: 0.612
  exclusion.robots: 0.254
  LoadShardBlock: 177.88 (3)
  PetaboxLoader3.resolve: 1014.037 (2)
*/