.morris-hover{position:absolute;z-index:1000;}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255, 255, 255, 0.8);border:solid 2px rgba(230, 230, 230, 0.8);font-family:sans-serif;font-size:12px;text-align:center;}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}

/*
     FILE ARCHIVED ON 06:00:51 May 09, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:15:36 Feb 18, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 210.419
  exclusion.robots: 0.287
  exclusion.robots.policy: 0.275
  RedisCDXSource: 2.099
  esindex: 0.013
  LoadShardBlock: 187.475 (3)
  PetaboxLoader3.datanode: 223.703 (4)
  CDXLines.iter: 17.267 (3)
  load_resource: 117.076
  PetaboxLoader3.resolve: 31.626
*/