/*-----------------------------------------------------------------------------------*/
/*	Column Styles
/*-----------------------------------------------------------------------------------*/
pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code{
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

.cr-one-half { width: 48%; }
.cr-one-third { width: 30.66%; }
.cr-two-third { width: 65.33%; }
.cr-one-fourth { width: 22%; }
.cr-three-fourth { width: 74%; }
.cr-one-fifth { width: 16.8%; }
.cr-two-fifth { width: 37.6%; }
.cr-three-fifth { width: 58.4%; }
.cr-four-fifth { width: 79.2%; }
.cr-one-sixth { width: 13.33%; }
.cr-five-sixth { width: 82.67%; }

.cr-one-half,
.cr-one-third,
.cr-two-third,
.cr-three-fourth,
.cr-one-fourth,
.cr-one-fifth,
.cr-two-fifth,
.cr-three-fifth,
.cr-four-fifth,
.cr-one-sixth,
.cr-five-sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 2em;
	float: left;
}

.cr-column-last {
	margin-right: 0!important;
	clear: right;
}

/*-----------------------------------------------------------------------------------*/
/*	Button Styles
/*-----------------------------------------------------------------------------------*/

a.cr-button,
a.cr-button:visited {
	display: inline-block;
	text-decoration: none!important;
	text-align: center;
	font-family: 微软雅黑, Arial, Sans-serif;
	font-size: 14px;
	outline: none;
	font-weight: normal;
	line-height: 1em;
	padding: 10px 18px!important;
	cursor: pointer;
	border-radius: 16px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-o-border-radius: 50px;
	margin: 0 0.1em 1.5em 0!important;
	vertical-align: middle;
}
	
a.cr-button.square {
	border-radius: 0px!important;
		-webkit-border-radius: 0px!important;
		-moz-border-radius: 0px!important;
		-o-border-radius: 0px!important;
}
	
a.cr-button.medium {
	padding: 11px 16px!important;
	font-size: 16px;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
}

a.cr-button.large {
	padding: 15px 25px!important;
	font-size: 18px;
	border-radius: 20px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-o-border-radius: 25px;
}

a.cr-button:hover {
	text-decoration: none;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
	
a.cr-button:active {
	position: relative;
	top: 1px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.9);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
		-o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
}
	
a.cr-button.green {
	background: #59CA71;
    border: 1px solid #59CA71;
    color: #fff;	
}
	
a.cr-button.green:hover {
    background: none;
    color: #59CA71;
}
	
a.cr-button.light-blue {
    background: #8EE0FF;
    color: #fff;
    border: 1px solid #8EE0FF;
}

a.cr-button.light-blue:hover {
	background: none;
    color: #8EE0FF;
}

a.cr-button.blue {
    background: #416284;
    color: #fff;
    border: 1px solid #416284;
}
	
a.cr-button.blue:hover {
	background: none;
    color: #416284;
}

a.cr-button.red {
    border: 1px solid #E87771;
    background: #E87771;
    color: #fff;
}
	
a.cr-button.red:hover {
	background: none;
    color: #E87771;
}
	
a.cr-button.orange {
    border: 1px solid #ffb031;
    background: #ffb031;
    color: #fff;
}
	
a.cr-button.orange:hover {
    background: none;
    color: #ffb031;
}

a.cr-button.purple {
    border: 1px solid #FFB6D8;
    background: #FFB6D8;
    color: #fff;
}
	
a.cr-button.purple:hover {
    background: none;
    color: #FFB6D8;
}
	
a.cr-button.grey {
    border: 1px solid #CADBEC;
    background: #CADBEC;
    color: #555!important;
}
	
a.cr-button.grey:hover {
    
	background: none;
}
	
a.cr-button.black {
	border: 1px solid #444444;
    background: #444444;
    color: #fff;
}
	
a.cr-button.black:hover {
	background: none;
    color: #000;
}

/*-----------------------------------------------------------------------------------*/
/*	Alert Styles
/*-----------------------------------------------------------------------------------*/

.cr-alert {
    padding: 0.8em;
    margin: 0 0 1.5em 0;
    line-height: 1.6em;
    border-radius: 4px!important;
		-webkit-border-radius: 4px!important;
		-moz-border-radius: 4px!important;
		-o-border-radius: 4px!important;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-o-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
}

.cr-alert.white {
    background: #fff;
    border: 1px solid #EAEAEA;
    color: #373737;
}

.cr-alert.red {
    background: #E88989;
    border: 0px solid #f2c3bf;
    color: #fff;
}

.cr-alert.yellow {
    background: #FFDD91;
    border: 0px solid #e9d477;
    color: #956433;
}

.cr-alert.green {
    background: #85D8BD;
    border: 0px solid #c4dba0;
    color: #6B7D4D;
}
	
.cr-alert.grey {
    background: #CADBEC;
    border: 0px solid #dfdfdf;
    color: #373737;
}

/*-----------------------------------------------------------------------------------*/
/*	Tab Styles
/*-----------------------------------------------------------------------------------*/

.cr-tabs.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}

.cr-tabs {
	background: none;
	margin: 0 0 2em 0;
}

.cr-tabs .cr-nav {
	list-style: none!important;
	margin: 0!important;
	padding: 0;
	background: none;
	border: 0;
	float: none;
}

.cr-tabs .cr-nav li {
	float: left;
	position: relative;
	margin: 0 2px -1px 0!important;
	z-index: 10;
	list-style: none!important;
	padding: 0
}

.cr-tabs .cr-nav li:before {
	display:none
}

li.ui-tabs-active a {
	
}
	

.cr-tabs .cr-nav li a {
	border: 1px solid #fff;
	border-bottom: 1px solid #C3CBE2;
	display: block;
	overflow: hidden;
	padding: 10px 30px;
	height: 40px;
	background: #fff;
	margin: 0!important;
	text-decoration: none;
	color: #373737!important;
	font-size: 13px;
}
	
.cr-tabs .cr-nav li a:hover {
	background: #F5F5F5!important;
    margin: 0!important;
    color: #C1B29F !important;
}

.cr-tabs .cr-nav .ui-tabs-selected a,
.cr-tabs .cr-nav .ui-tabs-active a {
	height: 40px;
	background: #fff;
	border: 1px solid #C3CBE2!important;
	border-bottom: 1px solid #fff!important;
}

.cr-tabs .cr-tab {
	background: #fff;
	padding: 20px;
	border: 1px solid #C3CBE2;
	font-size: 14px;
}

/*-----------------------------------------------------------------------------------*/
/*	Toggle Styles
/*-----------------------------------------------------------------------------------*/

.cr-toggle { margin: 0 0 2em 0; }

.cr-toggle .cr-toggle-title {
	display: block;
	padding: 15px 10px 15px 30px; 
	cursor: pointer;
	outline: none;
	position: relative;
	color: #444444;
	font-size: 14px;
    border: 1px solid #C3CBE2;	
}
	
.cr-toggle .cr-toggle-title:hover { }

.cr-toggle-inner {
	padding: 20px;
	background: #fff;
	border-top: none;
	font-size: 14px;
    letter-spacing: 1px;
}

/*.cr-toggle span.ui-icon {
    background: url(/web/20190203105728im_/http://www.psrss.com/wp-content/themes/mathilda/inc/shortcodes/images/toggles/toggle-closed.png) no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin: -6px 0 0 0;
}*/
.cr-toggle span.ui-icon:before{
    position:absolute;
    font-family: iconfont;
    font-size: 17px;
    top: 14px;
    left: 10px;
    content: "－";
}

/*.cr-toggle .ui-state-active .ui-icon { background: url(/web/20190203105728im_/http://www.psrss.com/wp-content/themes/mathilda/inc/shortcodes/images/toggles/toggle-open.png) no-repeat;}*/
.cr-toggle .ui-state-active .ui-icon:before {   
    font-family: iconfont;
    content: "\e83c";
}

/* Clearfix */
.cr-clearfix:before,
.cr-clearfix:after { content:""; display:table; }
.cr-clearfix:after { clear: both; }
.cr-clearfix { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

/*-----------------------------------------------------------------------------------*/
/*	Dividers Styles
/*-----------------------------------------------------------------------------------*/

.cr-divider{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cr-divider.solid{
    border-top: 1px solid #ddd;
}
.cr-divider.dashed{
    border-top: 2px dashed #ddd;
}
.cr-divider.dotted{
    border-top: 3px dotted #ddd;
}
.cr-divider.double{
    height: 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


/*
     FILE ARCHIVED ON 10:57:28 Feb 03, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:15:29 Feb 18, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.456
  esindex: 0.017
  load_resource: 144.806
  captures_list: 208.256
  PetaboxLoader3.resolve: 98.434 (2)
  exclusion.robots.policy: 0.441
  PetaboxLoader3.datanode: 173.613 (4)
  RedisCDXSource: 2.252
  LoadShardBlock: 179.981 (3)
  CDXLines.iter: 21.503 (3)
*/